@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.container {
  height: 100%;
  padding: 30px;

  @media (max-width: 800px) {
    @include flexbox(column, center, space-between);
    height: 100svh;
  }

  .loadingContainer {
    @include flexbox(column, center, center);
    gap: 30px;
    height: 100%;

    p {
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5;
    }
  }

  .chatbox {
    display: grid;
    place-items: center;
    padding: 120px 30px 80px;
    height: max-content;

    @media (max-width: 800px) {
      padding: 30px 0 0;
    }
  }
}
